@import url('https://fonts.googleapis.com/css?family=Tajawal');

body, button, page-intro-screen .btn1,.label,ion-title.title ,ion-segment-button{
    font-family: 'Tajawal', sans-serif;
}
ion-title.title {
    text-align: center;
}
ion-title.title .toolbar-title-md {
    font-size: 1.2em;
    font-weight: bold;
}
ion-navbar.toolbar .toolbar-background-md{background:#e4dcca}

/*ion-navbar.toolbar ion-buttons button {color: #f77123 !important}*/

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default,
.toolbar-md-primary .bar-button-clear-md, .toolbar-md-primary .bar-button-default-md, 
.toolbar-md-primary .bar-button-outline-md, .toolbar-md-primary .toolbar-title-md{color: #51423d}

.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: #f77123;
}


