page-resturant-review {

    width: calc(100% - 30px) !important;
    height: calc(100% - 80px) !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px !important;
    border-color: black;
    overflow: hidden !important;
    ion-item.rest-info {

        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(100% - 20px); 
        margin:auto;
        img{
            width: 60px;
            height: 60px;
            margin: 10px;
        }
        h3,span{margin:0; color:$color2; font-size: 25px;font-weight: bold}
    }

        .ratingpage{
            ion-item.addRating{
                padding:0;
                ion-label.label {margin: 0}
                .item-inner{
                    padding:0;
                    border-bottom:0
                }
                button{height:40px; font-size:14px}
                button.style2{
                    font-weight: bold;
                    background-color: transparent;
                    color: #51423d;
                    background: #f9f7f3;
                    -webkit-box-shadow: 1px 1px 3px #e4dcca;
                    box-shadow: 1px 1px 3px #e4dcca;
                    ion-icon.icon.icon-md.ion-md-add {
                        font-weight: bold;
                        margin: 0 5px;
                    }
                }
                
                form{
                    padding:10px;
                    border-bottom:1px solid #eee;
                    rating{text-align:center;
                        ion-icon::before {font-size: 22px}
                    }
                    textarea {width: 100% ; margin-top: 20px; padding: 8px}
                    button{
                        font-size:13px; 
                        display:block; 
                        margin: auto;
                        margin-top: 20px; 
                        height:25px}
                }
            }
           
        }
       
    }
    
    .lbll{
        width: 100%;
        text-align: center;
    }

    .cartbutton{
        background: none !important;
        background-color: none !important;
        box-shadow: none !important;
    }