$color1:#f77123;
$color2:#51423d;
$color3:#e4dcca;
$color4:#ffa800;
$color6:#ccc;

page-main-screen {
    .header-banner{
        height:200px;
        min-height:300px;
    }

    .slide-zoom {
        height: 100%;
        width: 100%;
        background: #fff;
    }

    ion-searchbar.searchbar {
        background: #fff;
        padding: 0;
        input.searchbar-input {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

    ion-slides {
        height: 30%;
        margin-bottom: 0px;
        .swiper-slide img{height:100%}
        .swiper-pagination-bullet {
            background: #fff;
            opacity:0.35
        }
        .swiper-pagination-bullet-active {
            background: white;
            opacity: 0.75;
            width: 9px;
            height: 9px;
        }
    }

    .card-background-page {
        ion-card {
          position: relative;
          text-align: center;
          
        }
  
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
  
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
    }

    ion-item.item.item-block {
        padding:2px 8px;
        border-bottom: 0.5px solid #ddd;
        background: #fff;
        ion-thumbnail {
            display: flex;
            align-items: center;
            justify-content: center;
            margin:0 5px;
            
            img {
                width: 60px;
                height: 60px;
                border: 1px solid #dddddd;
            }
        }
        .item-inner {
            border-bottom: 0;
            padding:0;
            ion-label.label {margin: 10px 0}
            .group {display: flex;
                h2{color:$color2; 
                    font-weight:bold;
                    max-width: 68%;
                    white-space: normal;
                    font-size:16px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
            p{color:$color2}
            small{color:#999; display:block}
            button.item-button {
                width: 25px;
                height: 25px;
                border-radius: 25px;
                background-color: $color6;
                ion-icon.icon {
                    color:#fff;
                    font-size: 1.5em;
                }
                &:hover{background-color:$color2}
            }
        }
    }

    .emptylbl{
        width: auto;
        height: auto;
        margin: auto; 
        font-stretch: expanded;
        text-align: center;
        margin-top: 100px;
        font-size: 25px;
        align-content: center ;
    }

    @media (max-width:640px){
        .swiper-slide img{width:100%}
    }
}

ul {
    height: 100%;
    padding: 0px;
    margin: 0;
    align-items: center;
  
  
    &.rating li {
      background: none;
      color: #FFA800;
      padding:0 !important;
      ion-icon {
        font-size: 13px;
        
      }
    }
}

.settings{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.settingsrow{
    width: max-content;
    padding: 0;
    margin: 0;
  
}

// .settingsrow{
//     width: max-content;
//     padding: 0;
//     margin: 0;
//     font-weight: bold;
// }
.badge{
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
width: 20px;
          border-radius: 100%;
          font-size: 9pt;
          text-align: center;
          padding: 5pt;
}

.online{
    color:rgb(30, 255, 0) !important;
    font-size: 9px;
    margin-inline-start: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.offline{
    color:rgb(255, 0, 0) !important;
    font-size: 9px;
    margin-inline-start: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}

.seg-tabs{
    position:relative;
    top:0;
    margin-top:0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0px;
    ion-segment.segment {
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        ion-segment-button.segment-button {
            opacity: 1;
            color: $color1;
            font-size: 15px;
            text-transform: uppercase;
            border: none;
            height: 35px;
            font-weight: bold;
            justify-content: center;
            display: flex;
            align-items: center;
            img{
                width:30px; 
                height:30px;
                margin:5px;
                display: none
            }
        }
        ion-segment-button.segment-button.segment-activated {
            background-color: $color1;
            color: #fff;
            img{
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
    }


 
   
}

.spin  {
    display: block;
    margin: auto;
    align-content: center;
    margin-top: 100px;
&.spinner-circles circle,
&.spinner-bubbles circle,
&.spinner-dots circle {
  fill: $color1 !important;
}
   
}



.toolbar-content.toolbar-content ion-title.title.title .toolbar-title.toolbar-title{color:$color2} 
